*{
    margin: 5px 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

body{
    width: 70%;
    margin: 0 auto;
}

.center{
    text-align: center;
}
.header{
    text-decoration: underline;
}

.social_links{
    display: flex;
    justify-content: center;
    gap: 200px;
    color: black;
}

a{
    color: rgba(10, 49, 226, 0.911);
    font-size: large; 
   
}

ul li{
    margin-left: 40px;
}

.projects{
    margin: 10px 0;
}

.education{
    margin: 10px 0;
}

.skills{
    display: grid;
    height: 100px;
    grid-template-columns: repeat(2,1fr);
}

.left_border{
    border-left: 1px solid black;
    padding-left: 22px;
}

.footer_ul{
    list-style-type: none;
}